beautifulsoup4
bs4
Django
django-bootstrap4
jieba
lxml
mafan
matplotlib
mysql
mysql-connector
mysqlclient
nltk
numpy
openpyxl
pandas
pycnnum
progress
regex
requests
scipy
scikit-learn
Unidecode
urllib3
xlrd
zhon